<a href="https://colab.research.google.com/github/Damsssdreams/Profile-saya-/blob/main/rangkuman_variabel_dan_tipe_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 RANGKUMAN TENTANTANG VARIABEL DAN TIPE DATA DI BAHASA PEMROGRAMAN PYTHON

Dokumen ini membahas tentang variabel dan tipe data dalam pemrograman Python. Berikut adalah rangkumannya:

1. Variabel: Tempat untuk menyimpan data yang bersifat mutable (nilai dapat berubah). Variabel dibuat dengan format nama_variabel = <nilai> dan dapat dicetak menggunakan fungsi print.


2. Aturan Penulisan Variabel:

Nama variabel harus diawali dengan huruf atau garis bawah (_).

Karakter selanjutnya bisa berupa huruf, angka, atau garis bawah.

Nama variabel bersifat case-sensitive (misalnya, variabel_Ku berbeda dengan variabel_ku).

Nama variabel tidak boleh menggunakan kata kunci Python seperti if, while, dll.

Variabel dapat dihapus menggunakan fungsi del().



3. Tipe Data: Jenis data yang dapat disimpan dalam variabel, seperti teks (string), angka (integer), dan boolean. Python mengenali tipe data secara otomatis, dan kita dapat memeriksa tipe data menggunakan fungsi type().


4. Jenis-jenis Tipe Data:

Angka: Dibagi menjadi int (bilangan bulat) dan float (bilangan desimal).

Teks: Terdiri dari char (karakter tunggal) dan string (kumpulan karakter).

Boolean: Memiliki nilai True atau False.



5. Contoh Program: Menunjukkan cara penggunaan variabel dan tipe data dalam program Python untuk menyimpan informasi biodata sederhana.


6. Konversi Tipe Data: Meskipun Python mendeteksi tipe data secara otomatis, kadang diperlukan konversi tipe data, seperti mengubah int menjadi float untuk mendapatkan hasil pembagian yang lebih presisi. Beberapa fungsi konversi adalah int(), float(), bool(), str(), bin(), dan hex().

In [ ]:
usia=(20)
type(usia)

int

In [ ]:
tinggi_badan = 1.79
type(tinggi_badan)

float

In [ ]:
nama_panjang=("damar galih")
type(nama_panjang)

str

In [ ]:
saya_ganteng=(True)
type(saya_ganteng)

bool

CONTOH

In [ ]:
NAMA=("DAMAR")
UMUR=(17)
TINGGI_BADAN=(1.70)
MENIKAH=(False)
#hasil
print(NAMA)
print(UMUR)
print(TINGGI_BADAN)
print(MENIKAH)

DAMAR
17
1.7
False